
:root{
    --back: #34375b;
    --front: #212342;
}

div.main-cards{
    padding: 10px;
    border-radius: none;
}

div.cards{
    height: max-content;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    border-radius: 5px !important;
    border: 1px solid rgb(200, 200, 200);

}

div.cards > div.card{
    padding: 10px;
    width: 25%;
    min-width: 300px;
    min-height: 450px;
    border-radius: 0;
    border-radius: 5px;
    border: none;
}

div.card-content{
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: 0 0 5px 0 rgb(200, 200, 200);
    /* cursor: pointer; */
}

div.card-content > div{
    /* border: 1px solid red; */
}

div.card-content:hover{
    box-shadow: 0 0 10px 0 rgb(200, 200, 200);;
}


/* ---------------CARD HEAD--------------------------- */
div.card-content > div.content-head{
    height: 25%;
}
div.card-content > div.content-head > div{
    padding: 10px;
}

div.content-head > div.check-table{
    display: flex;
    justify-content: right;
}

div.content-head > div.check-table > i{
    font-size: 20px;
    color: #5a2bc1;
    cursor: pointer;
}
div.content-head > div.check-table > i:hover{
    color: blue;
}

div.content-head > div.table-name{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

/* ----------------CARD BODY-------------------------- */
div.card-content > div.content-body{
    height: 60%;
    position: relative;
    padding: 5px;
    /* border: 1px solid red; */
    overflow-y: scroll;
}
div.content-body > div.column{
    display: flex;
    align-items: center;
    padding: 10px;
    border: 0.1px solid rgb(200, 200, 200);
    margin-bottom: 5px;
    border-radius: 4px;
}
div.content-footer{
    box-sizing: border-box;
    height: 15%;
    position: relative;
}
div.content-footer > div.delete-dublicate{
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

div.content-footer > div.delete-dublicate > button{
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: white;
    border: 1px solid #5a2bc1;
    padding: 8px;
    position: absolute;
    top: 15px;
}

div.content-body > div.column > div.column-name{
    flex-grow: 1;
    font-size: 13px;
}

div.content-body > div.column > i{
    width: 20px;
    height: 20px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: green;
    border-radius: 50%;
}

div.content-body > div.column > i.fa-x{
    cursor: pointer;
    background-color: red;
    color: white;

}

div.content-body > div.column > i.fa-edit:hover{
    /* background-color: red;    */
    background-color:rgb(153, 0, 0);
    box-shadow: 0 0 5px 0 red;
}